table, tr, td {
    border: 1px solid black;
    background-color: seagreen;
    font-weight: bold;
}
td.display{
    background-color: plum;
}

body{
    background-color: slategrey;
}

form{
    display: inline-block;
}

p{
    color: pink;
}